<div class="container">
  <div class="container__logo">
    <img src="assets/imgs/logo.png" alt="">
    <h1>{{title}}</h1>
  </div>
  @if (!finished) {
    <div class="container__question">
      <h1>{{questionSelected.question}}</h1>
    </div>
    <div class="container__options">
      @for (options of questionSelected.options; track options.id) {
        <button
          (click)="playerChoose(options.alias )"
          class="options__btn-options"
        >
        {{options.name}}
        </button>
      }
    </div>
  } @else {
    <div class="container__result">
      <h1>O Seu Resultado é:</h1>
      <p>{{result}}</p>
    </div>
  }
</div>
