<div class="container">
  <div class="container__logo">
    <img src="assets/imgs/logo.png" alt="">
    <h1>Você seria um heroi ou vilão</h1>
  </div>
  <div class="container__question">
    <h1>Qual super poder você escolheria?</h1>
  </div>
  <div class="container__answers">
    <div class="answers_answer">
      <p>Raios-Lasers</p>
    </div>
    <div class="answers_answer">
      <p>Raios-Lasers</p>
    </div>
    <div class="answers_answer">
      <p>Raios-Lasers</p>
    </div>
  </div>
  <div class="container__result">
    <h1>O Seu Resultado é:</h1>
    <p>Você muito provavelmente seria um super heroi</p>
  </div>
</div>
